<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.devtcg.rojocam"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />

    <!-- This permission is needed to talk to the local network via WiFi. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required only for debugging at the moment... -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- Active during capture. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for a hack that allows us to create a dummy SurfaceView from
         a Service. This is necessary only because Android requires a
         SurfaceView to use the Camera. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <!-- Temporary control/debug console. -->
        <activity
            android:name="ControllerActivity"
            android:label="@string/controller_title">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Persistent service active when the device is being used as a
             camcorder node. -->
        <service android:name=".CamcorderNodeService"
            android:exported="false" />

    </application>

</manifest>
